body{
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
    background: url(images/bg.svg);
}
h3{
    margin: 0px;
}
img{
    padding-left: 10px;
}
.logo{
    position: absolute;
    width: 151px;
    height: 43px;
    left: 100px;
    top: 60px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    color: #A48FDA;
}
.link{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.002em;
}
.how-to{
    position: absolute;
    width: 54px;
    height: 19px;
    left: 872px;
    top: 72px;
    text-decoration: none;
    color: #000;
}
.events{
    position: absolute;
    width: 53px;
    height: 19px;
    left: 971px;
    top: 72px;
    text-decoration: none;
    color: #000;

}
.hotline{
    position: absolute;
    width: 56px;
    height: 19px;
    left: 1069px;
    top: 72px;
    text-decoration: none;
    color: #000;
}

.reciept{
    position: absolute;
    width: 133px;
    height: 19px;
    left: 1189px;
    top: 72px;
    text-decoration: none;
    color: #A48FDA;
}
.container{
    position: absolute;
    width: 400px;
    height: 289px;
    left: 100px;
    top: 275px;
}
.heavy{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 0.02em;
    color: #121212;
    margin-bottom: 16px;
}
.normal{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #121212;
    opacity: 0.75;
    margin-top: 0px;
    margin-bottom: 0px;
}
.small{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-weight: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color:#000;
    margin-top: 56px;
}
.img-container{
    position: absolute;
    left: 47.71%;
    right: 4.03%;
    top: 20.67%;
    bottom: 27.44%;
}

@media (max-width: 375px){
    .img-container{
        position: absolute;
        left: 3.47%;
        right: 3.5%;
        top: 52.96%;
        bottom: 18.17%;
    }
    .container{
        position: absolute;
        width: 335px;
        height: 222px;
        left: 20px;
        top: 136px;
    }
    .link{
        visibility: hidden;
    }
}